<html>
   <head>
        <%- include('partials/head'); %>
        <title>Denote - Guide</title>
      <style type="text/css">@import url('https://themes.googleusercontent.com/fonts/css?kit=iMc4-4exjgqA-toZgqqJBf35jAjY-31lSKWZb9Fa77M');ol{margin:0;padding:0}table td,table th{padding:0}.c1{padding-top:16pt;padding-bottom:4pt;line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.c6{padding-top:0pt;padding-bottom:3pt;line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.c7{padding-top:18pt;padding-bottom:6pt;line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.c2{color:#000000;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:16pt;font-family:"Open Sans";font-style:normal}.c5{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}.c11{color:#434343;text-decoration:none;vertical-align:baseline;font-size:14pt;font-style:normal}.c4{color:#000000;text-decoration:none;vertical-align:baseline;font-size:16pt;font-style:normal}.c10{color:#000000;text-decoration:none;vertical-align:baseline;font-size:11pt;font-style:normal}.c9{color:#000000;text-decoration:none;vertical-align:baseline;font-size:26pt;font-style:normal}.c3{background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt}.c0{font-weight:400;font-family:"Open Sans"}.c8{font-weight:700;font-family:"Open Sans"}.title{padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.subtitle{padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:11pt;font-family:"Arial"}p{margin:0;color:#000000;font-size:11pt;font-family:"Arial"}h1{padding-top:20pt;color:#000000;font-size:20pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:18pt;color:#000000;font-size:16pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:16pt;color:#434343;font-size:14pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:14pt;color:#666666;font-size:12pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}</style>
   </head>
   <body class="c3 doc-content">
    <header
    >
        <%- include('partials/header'); %>
    </header>
      <p class="c6 title" id="h.q87d521l75fw"><span class="c8 c9">Feature Guide</span></p>
      <h2 class="c7" id="h.1il1ok1rbdl7"><span class="c2">AI Tools:</span></h2>
      <h3 class="c1" id="h.9yslwy35o8hj"><span class="c11 c8">Question:</span></h3>
      <p class="c5"><span class="c10 c0">Ask the AI any question, and you will get an accurate answer. The AI is designed such that it automatically reads your entire page. With all the information, you will get an accurate and reliable answer.</span></p>
      <h3 class="c1" id="h.8kabhat1e02o"><span class="c11 c8">Beautify:</span></h3>
      <p class="c5"><span class="c0">There are times when formatting notes can be a waste of time. With just a click of a button, our AI can beautifully format your notes.</span></p>
      <h3 class="c1" id="h.qnvzkm6czioe"><span class="c8 c11">Fill Blanks:</span></h3>
      <p class="c5"><span class="c0">Sometimes the teacher or lecturer can be a little too fast. Maybe that caused you to miss some parts. By inserting &ldquo;[...]&rdquo; into any part of the notes where you missed out, our AI will fill in the information for you!</span></p>
      <h2 class="c7" id="h.sbn0iwxbbvte"><span class="c2">Math Equations:</span></h2>
      <p class="c5"><span class="c0">Latex tends to have a steep learning curve. With our &ldquo;Insert Math Equation&rdquo; feature, you can easily insert any math expression inline!</span></p>
      <h2 class="c7" id="h.mr1ywp6nvqpk"><span class="c8">Shortcuts:</span></h2>
   </body>
</html>