<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <title>Denote - About</title>
</head>
<body class="container">
    <header
    >
        <%- include('partials/header'); %>
    </header>

    <main
        style="margin-top: 100px;"
        width="100%"
        class="d-flex flex-column align-items-left"
    >
        <h1>HomeM</h1>
        
    </main>

    <footer
        style="margin-top: 100px;"
        width="100%"
        class="d-flex flex-column align-items-center"
    >
        <%- include('partials/footer'); %>
    </footer>
</body>
</html>